/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 26px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/wood.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

/* Header and title styles */

header {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 110px;
    background-color: yellow;
    height: 250px;
    width: 550px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Gochi Hand', cursive, sans-serif;
}

/* Wrapper styles */

.wrapper {
    margin: 50px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
    max-width: 1800px;
    align-items: center;
    justify-content: center;
}

.wrapper li {
    height: 250px;
    list-style: none;
    background: yellow;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box,
.icon,
.bottom-content,
.settings,
.menu li,
.popup,
.content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-box p {
    font-size: 26px;
}

.add-box .icon {
    font-size: 200px;
}

.add-box p {
    font-weight: 500;
    margin-top: 20px;
}

.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-circle-plus {
    font-size: 40px;
    margin: 0 auto;
}

/* Note box Styles */

.note {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.note .details {
    max-height: 165px;
    overflow-y: auto;
}

.note p {
    font-size: 22px;
    font-weight: 600;
}

.note span {
    font-size: 18px;
    margin-top: 5px;
    display: block;
}

.note .bottom-content {
    padding-top: 10px;
}

.bottom-content .span {
    font-size: 16px;
}

.bottom-content .settings .icon {
    cursor: pointer;
    font-size: 16px;
}

.settings {
    position: relative;
}

.settings .menu {
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    background: rgb(209, 209, 0);
    border-radius: 4px;
    right: -5px;
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: bottom right;
}

.settings.show .menu {
    transform: scale(1);
}

.settings .menu li {
    height: 25px;
    border-radius: 0;
    justify-content: flex-start;
    background: yellow;
    font-size: 16px;
}

.menu li i {
    padding-right: 8px;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.116);
}

/* Popup Box styles */

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100px;
    transform: translate(-50%, -50%);
    border-radius: 5px;

}

.popup-box,
.popup-box .popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.popup-box.show,
.popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
}

.popup .content {
    background: yellow;
    border-radius: 5px;
}

.popup .content header {
    padding: 15px;
    border-bottom: 1px solid black;
}

.content header p {
    font-size: 20px;
    font-weight: 500;
}

.content header i {
    cursor: pointer;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.625);
}

.content form {
    margin: 15px 25px 35px;
}

.content form .row {
    margin-bottom: 20px;
}

form .row .label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}

.content form :where(input, textarea) {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    height: 50px;
    font-size: 18px;
    padding: 0 15px;
}

.content form textarea {
    height: 150px;
    resize: none;
    padding: 8px 15px;
}

.content form button {
    width: 100%;
    height: 45px;
    background-color: rgb(245, 255, 48);
    font-size: 22px;
}

label,
title {
    font-size: 20px;
}

/* Media queries */

@media (max-width: 550px) {
    header {
        margin: 25px auto;
    }

    h1 {
        font-size: 3.5rem;
        height: 150px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 770px) {
    .popup-box .popup {
        max-width: 100%;
        min-width: 350px;
    }

    .popup-box .popup .content {
        max-width: 100%;
    }

    .popup-box .popup .content form {
        margin: 15px 10px 35px;
    }
}